[Unit]
Description=Tomcat 8.5 servlet container
After=network.target

[Service]
Type=forking

User={{ username }}
Group={{ username }}

Environment="JAVA_HOME= {{ java_path }}"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"

Environment="CATALINA_BASE= {{ tomcat_path }}"
Environment="CATALINA_HOME={{ tomcat_path }}"
Environment="CATALINA_PID="{{ tomcat_path }}"/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"

ExecStart={ tomcat_path }}/bin/startup.sh
ExecStop={{ tomcat_path }}/bin/shutdown.sh

[Install]
WantedBy=multi-user.target